<div class="card login-content">
  <div class="card-body">
    <div class="text-center image-block">
      <img height="65" width="100" src="https://firebasestorage.googleapis.com/v0/b/fir-workshop-97cfa.appspot.com/o/Logo%2FDSC%20UCA%20peque.jpg?alt=media&token=4575a790-206b-42c6-bab5-80e05de4b0bf">
    </div>

    <div style="text-align: center; color: #3169D4">
      <h1>
        Olvidé la contraseña
      </h1>
      <p>
        Se enviará un correo con un enlace para que puedas realizar el cambio de contraseña
      </p>
    </div>

    <form [formGroup]="emailForm">
      <div class="form-group">
        <label class="label">Email:</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Requerido">
        <ng-container *ngIf="emailForm.invalid && emailForm.controls.email.touched">
          <p class="caption status-danger" *ngIf="emailForm.controls.email.errors?.required">
            El correo es requerido
          </p>
        </ng-container>
      </div>
    </form>

    <br>

    <div class="text-center image-block">
      <button type="button" class="btn btn-primary" [disabled]="emailForm.invalid" (click)="request()">Enviar Solicitud</button>
    </div>
    <br>

    <a class="text-link"
       style="
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 15px;
   margin: 5px"
       routerLink="../login">Iniciar Sesión</a>

    <a class="text-link"
       style="
           display: flex;
           justify-content: center;
           align-items: center;
           font-size: 15px;
           margin: 5px"
       routerLink="../register">Crear una cuenta</a>


  </div>
</div>
